:root{
    --vermelho: #e50914;
    --preto: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: var(--preto);
font-family: 'Times New Roman', Times, serif;
color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logon{
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 5px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 25;
}

header nav a:hover{
    color: white;
}
/* filmes e series */
.conteudo-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)100%), url("/img/afrosamurai/l1jbVcsCg6xcLdF5HDJhTAfc0qo.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.conteudo-principal .description{
    margin-bottom: 25px;
    margin-top: 5px;
}
.titulo{
    margin-top: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color: rgba(0, 0, 0,70%);
    border: none;
    color: white;

    padding: 15px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}
.button:hover{
    color: var(--vermelho);
    
}
.container{
    margin-left: 20px;
}
.conteudo-principal .container{
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    
    display: block;
}
.item-button{
    border: none;
}
.item-button :hover{
    cursor: pointer;
}